@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full bg-black text-gray-200;
	scroll-behavior: smooth;
	scrollbar-base-color: #0ea5e9;
	scrollbar-color: #0ea5e9 #000000;
	scrollbar-width: thin;
}

hr {
	@apply fill-gray-600;
}
